.histdata{
	float:left;
	padding-left:20px;
}
.tick{
	font-family:arial;
	font-size:10pt;
}
#chart{
	float:left;
}
#side{
	margin-top:5px;
	float:left;
}
#choices{
	margin-top:10px;
}
#hist{
	margin-top:20px;
}
.hide{
	display:none;
}
#main{
	padding-left:20px;
	float:left;
}
.clearFloat {
    clear: both;
    height:0px;
    font-size: 1px;
    line-height: 0px;
}